<html>
 <body>
   <h2>This is HTML Formatted Report</h2>
   It could contain <a href="https://google.com">links</a>.
   </p>Created by <strong>{{ lookup('ENV','USER') }} at {{ ansible_date_time.iso601 }}</strong>
   <p><img src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAMAAACahl6sAAAAkFBMVEX////MAADCAADKAADFAAD6
5eX1y8vBAADojIz99fXqlZXfXl7ojo7jcXH88PDWMTHurKzPDw/zwsLTIyP76+vnh4fWMDDtpKTw
tbXOCQn429v31tbjdXXmgIDxurraRUXXOTncTk7eW1vRGBjhamrTHx/ZQUHrnJzgZWX0yMjuqanU
KCjdVVX439/aUFDYSEiF0c04AAAJSElEQVR4nO1da3PqIBBNALXWarTWV23rq9qn7f//dzd6q+6S
RBaWGCeT87FjGU5gl8PuAkFQoUKFChUqVKhQoUKFCnt0HsejQXu52ERRtO5Hw/nsp/V0M3rZNovu
GR3b7uA76oXpkL358m5cK7qPRtRvl18ZFCAmw9bbtOi+ZqLTfaeQOGLYHl/hPOuMvrNm0xmsWt3r
4jJuObD44/J6X3TvD6g9W82oJKLbTtEcYtTfJzwa+2FpPxZM4/6Hz2IP2SrSi90vPNHYozAq02+f
NHZ4LWKhbD75phFjMrg4j9EqBx4xvsYXpTH9zYfGDq0L+uK7/GjEWHUvRKOW43D8x/tFdEvXWY3Q
0b+AbGnnT2OHu5xpdGaX4RGGy1x51HNyummIclwdu5ejEaP3kRePfL1uCnLyw3loEgNu8+BxIXeF
kYP2ahXBIwyfS8LDO5PXoniE4Y1PHgXY+Qlv/nhc3O9ieNuiXHYdTEHdD4960TzC3oMPHp0LyHYT
hj6IzItmsYMHLezD8UoluU2wxYoHQ1dqspZKMVthRu8e2DSkWr48BLXRF5PJmkeEbSBSHdazX8Fr
6Z3Dg78SiqdjYyvmmLy489iyeajeqbU35pD0sjtqAt/zivapteaE6btarjxGbB5SbkF7r8whCR03
8U1+KkrMYIOPkjkkfTciHpZChQ10zh0Sp2Xx0QMPzfmPuUQmLkFhDzFFoe/uuB44bKd29Sw++Dyk
1FMdz9whCe0FfcQnIr71Rh+45m6/vt/zeYQqubP7YQ+JbUTYwy5EpWyH7rlGYjskPra3YpTSMFcE
h6FditFDQYNK1Ua37LllFbGr8XkgmXUCW3DZaUcPATkss05gC64wbcZmwUNiSmzAMABX88jev0d0
Hj4icgrEB++h/5qzzZ2+ffeQSFcr0N5TAwjwLpsIWafwIw7xzIIpmlUDxqXYgmuldzgLt3weUgJR
NFZyArw/X3BRywk2fCJIZs1EKEABAF9wvdJ4+JhZUGbV4o4ruLlbcIeEOLfePPD4Au3tp5IC04Ev
uGibdw8VfgJmmfbGjeZan8vkSe9zKvhpBAm3pON9r5H1swUXaU30sBMR0Bpn/3sN/TFfcFE2igM2
DylBOXLtz0ehQMQ7d0goxR0LLg8ks06rBgwNTbkemLK48wUjlFmndVwswF+5gmtu5jHl84Bufnzs
sZRAA38y5xYhwMUP+CKZNTv1WMC9XY85JOaVhF0EhBxtDRgDGimu4DIHT9kBRrT0of5C26kxzd0s
t/o8GnF34aiv4QxCsXmm4Jrp/dbxwF2qkMx6QZaAzJ0puIwZBnbIF8ksLQEqoEbiCa6JaW3/ZLGI
BwQ6Rt0QUKjrjje3TIU23DwuklkJ1ySAtOjwBJep9okZ0UIyK7k7R+KlxRoSUzkas3ZRzUFbLwkr
QFG7KctITPWnzEiQgrI0pdYBxVEjDhOTbOSlE9DinbbmIXMfceaWKenOS1QhOdVqpP3iE/yCI7h+
DERYCzuSWcEgrbQJGdETY0hMS/vaven4c+PPNO4lOypVyu7x6ogoLQS4nSdnV9p+3gWb4Dw4RJDM
+o93oX9zFGFJOmgyTPWaHCIiZZNwmzAUlFpcOzPJkYhM3X/er7Tpg5K9N85zK8epJdIzxw+zhiYd
QaKm42zuJmN3d79SZWWS2nh6IcJL1yExEXFfENEKgTFCTNAUrLsaiWlBdJco6kz0r/4FPzzaew0d
mZgkirNoRDKr+apt4Jo/wA8jc3cVXCbR6Czjkcx6aax1g3kG0wtV2zgKLpOMd91YocBCsFBKfmot
dyfHby9gbrTtNiSmjZXrVhdFdh9CGSqhF408RgfBIiUw962bBzZtdV2DD0hmDXYfWTYSjqV1MBSk
AdwElyn44BgOQsnOg/AQX7qh3PwZCvq5k+AyhoMcA3ToEx9jb2KiT4CDYEHhSJcKAnMJsNPSjmXW
KRqqlO5capu9YEEB4oHD3DKGTN2C2Eh17Ez9yFAkDhW9CqXtJV0ElzmI7ZJWwDILf+BGpNdtvUml
lQR/2w+JOa3gkujBMkvbY4iefvCj3hfY3B0ElznR45J6Q6GRRJhdKf0mis6vkMhfW5dsUmrL7ZOh
uAwzmfiQyZ3Ks2rAFdT6jMzczCNYWBNB2QJo6kc05nrd8acSwNybtoKLkp62LhjAMivdl4qVXmM1
7cGF31ZwUQoGrEs4xC/894xwglK6n6nB27RsBRep1t+2qAaZbabekCLh+mFN9cZqSGiFppZlTvi0
S3aOUzZmZ77j2MpIaGVOloVnsMrvfJmfWJ/x/laCi1bUaFcKiGXWedmkZHYVtY3gopaZWhVnChQF
MEQOlcicFKluOwPUoxdW5bJIZhmT57Lxm7UmWwguarmszdxSyIEQOiP6GXG8D7KRkAuYbWJCSGaR
KnqV0sMSfyALLvrRN3qRP5ZZtJC0UulnWciCy+KMPlk4YuMlVmWkhCV2aE5o/25x7IIc3cIyi14n
I4ZpX5V4RsbmIAz1aBI+VGzhd5JhiYB6KNnuWPuC1h90qLhjsRKkhCVibChDSpMnB9CO72GZZZd9
kiIZTx9RiFgeciWlF5DMsi7ASoYlKGLe9owrZVeCjrc4lMSJlRaWoFQ+WV96SEhd4ZiVQ0xHD0sQ
RsT+UhFCEBilOZzSmlpYgmAjDvc6GUOOWGa5JZplYwO6ZhYpDgfzzVcl4IIN11pLYCjmMwxOVyWY
Lq+QvY/6EdM35xKGWHrtfcb0x9yE251OputEZKxQDrBZCxPtiFXrub2RZh6O14kYw8ASwJ3HriEV
g9CE8y2tV3HZ2QnOV+54uATJJxiXIBV9QSMG41qqq5pcrIvCvBx39QPm1W3F35p5APspjALvlYXw
cBfzVZiJj8vXS3MFaGkuZb0Cg/d0TW681yiWh8e3VcpylXR5Lvcuz3Xr5bkAv6DZlctzUGV5JKIA
L5zb80nc8692yO8hlfI8bRNvtDxckERDvo8NBaV5/ikoz4Nc5XkiLSjNo3VBeZ4RDErzsGNQnqc2
g9I8frpDSZ6j3VMpxwPBO5TkyeYdSvKI9h7leNZ8j5I8NL9Hp/tuNceG7fEVsvhD/XZJITMZtt6K
9lJmbLuD7yhrnsnefHk3Lmrhc0DncTwatJeLTRRF/a9oOJ/9tJ5uRi/b651NFSpUqFChQoUKFSpU
uDD+AT+nrP8sf0q5AAAAAElFTkSuQmCC" alt="Red Hat Ansible Logo" />

   </p>Powered by Jinja. Hosts in inventory: <p><strong>
   <ul>
     {% for hst in groups.all %}
      <li>{{ hst }}</li>
	 {% endfor %} 
	  </strong> 
   </ul>
 </body>
</html>
