# Sample Wiki Reports

This repository is an example for blog post [Ansible Simple Reports](https://chronicler.tech/ansible-simple-reports)

Metadata for OCI instances:
{% for hst in play_hosts %}
* [{{ hst}}](./{{ hst }})
{% endfor %}

